{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'receipts/app.css' %}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <li><a href="{% url 'home' %}">Receipts</a></li>
            <li><a href="{% url 'category_list' %}">Categories</a></li>
            <li><a href="{% url 'account_list' %}">Accounts</a></li>
            {% if user.is_staff %}
            <li>
                <a href="{% url 'admin:index' %}">Admin</a>
            </li>
            {% endif %}
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="{% url 'login' %}">Login</a>
            </li>
            {% endif %}
            

        </nav>
    </header>

{% block content %}
{% endblock content %}
    
</body>
</html>