<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <main>
        <div>
            <h1>Login</h1>
            <p><a href="{% url 'signup' %}">Sign up</a></p>
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="username" placeholder="username">
                <input type="password" name="password" placeholder="password">
                <button type="submit">Login</button>
            </form>
        </div>
    </main>
    
</body>
</html>