html, button, select, textarea, input {
    font-family: 'Roboto';
    font-size: 16px;
  }


th, td{
    width: 190px;
    height: 50px;
    background-color: white;
    box-shadow: 5px 4px 10px gray;
    text-overflow: ellipsis;
    padding-left: 10px;
    padding-right: 10px;
  
}

.headtr1 {
    font-weight: bold;
    text-align: center;
}

.headtr2 {
    text-align: right;
}