{% extends 'base.html' %}



{% block content %}
<main>
    <h1>My Account</h1>
    <p><a href="{% url 'create_account' %}">Create a new account</a></p>
    <table class="tablestyle">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts %}
            <tr>
                <td class="headtr1">{{ account.name }}</td>
                <td class="headtr2">{{ account.number }}</td>   
                <td class="headtr2">{{ account.owner.receipts }}</td>          
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}