{% extends 'base.html' %}


{% block content %}
<main>
    <h1>My Category</h1>
    <p><a href="{% url 'create_category' %}">Create a new category</a></p>
    <table class="tablestyle">
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categorylist %}
            <tr>
                <td class="headtr1">{{ category.name }}</td>
                <td class="headtr2">{{ category.owner.receipts }}</td>          
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}