{% extends 'base.html' %}

{% block content %}
<main>
    <h1>My Receipts</h1>
    <p><a href="{% url 'create_receipt' %}">Create a new receipts</a></p>
    <p><a href="{% url 'create_category' %}">Create a new category</a></p>
    <p><a href="{% url 'create_account' %}">Create a new account</a></p>
    <table class="tablestyle">
        <thead>
            <tr>
                <th>Vendor</th>
                <th>Date</th>
                <th>Category</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Account</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipts %}
            <tr>
                <td class="headtr1">{{ receipt.vendor }}</td>
                <td class="headtr2">{{ receipt.date }}</td>   
                <td class="headtr2">{{ receipt.category }}</td>   
                <td class="headtr2">{{ receipt.total }}</td>   
                <td class="headtr2">{{ receipt.tax }}</td>    
                <td class="headtr2">{{ receipt.account }}</td>            
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock content %}